
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url("/backgroundConfetti.svg");
  height:100rem;
}

.broughtToYouBy {
  margin-top: 10rem;
  color: white;
  font-size:1.5rem;
}
.largeContainer {
  position: absolute;
  top: 15rem;
  width: 900px;
  height:950px;
  background-color: #FFF3C8;
  border-radius: 97px;
  padding: 4rem;

}
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 98px;
  color: black;
  animation: pulse infinite; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}

.title,
.description {
  text-align: center;

}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.powerBack {
  font-family: Alata;
  font-size: 48px;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-weight: light;
}

.makeMoney {
  font-family: Alata;
  font-size: 28px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: light;
  color: #d017cd;
}

.paragraph { 
  font-family: Alata;
  text-align: center;

}

.button {
  background-color: #d017cd;
  border-radius: 9px;
  padding: 1rem;
  border: none;
  color: white;
  font-family: Alata;
  margin: 1rem;
  width:10rem;
}

.button:hover{
  background-color: #880886;
}

.flexRow {
  display: flex;
  flex-direction: row;
  width:fit-content;
  margin-left:auto;
  margin-right:auto;

}

.technologiesRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  bottom: 5rem;
  font-size:1.5rem;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.pinkTextColor {
  color: #d017cd;
}

.tinyHeading {
  font-size: 14px;
  font-family: Alata;
  text-align: center
}
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
